.hide{
    height:24px;
    width:24px;
    background:yellow;
    border-radius: 50%;
    display:none;


}
.container:hover .hide{
    display:block;
}
.footer{
    display:flex;
    width:500px;
    justify-content: space-between;
    cursor: pointer;
}
.border{
    border:1px solid black;
    margin:12px;
}
.striked{
    text-decoration:line-through;
}
.showcheck{
    display:block;
}
.hidecheck{
    display:none;
}

.container{
    width:100vw;
    height:100vh;
}
.lightMode{
    background: lightblue;
}
.darkMode{
    background: rgb(85, 85, 220);
}
.modeBtn{
    border:1px solid blue;
    background: green;
    cursor:pointer;
}